<body>
    <app-navbar></app-navbar>
    <div class="main-page">
        <h1>Welcome to our website!</h1>
        <p></p>
        <div class="row">
            <div class="box">
                <img src="assets/images/image8.png" alt="Image 3">
                <div class="description">
                    <h2>Easy Appointment Scheduling</h2>
                    <p>With our app, scheduling your next medical appointment is easier than ever. Just a few clicks and you’re set!</p>
                </div>
            </div>
            <div class="box">
                <div class="description">
                    <h2>Stay Connected with Your Doctor</h2>
                    <p>Through our app, you can easily communicate with your doctor, get updates on your treatment, and receive personalized advice whenever you need it.</p>
                </div>
                <img src="assets/images/image7.png" alt="Image 2">
            </div>
            <div class="box">
                <img src="assets/images/image6.png" alt="Image 1">
                <div class="description">
                    <h2>AI-Powered Treatments & Diagnostics</h2>
                    <p class="description">Our platform utilizes the latest medical technologies, including AI, to offer accurate diagnostics and personalized treatment plans for your health needs.</p>
                </div>
            </div>
        </div>
    </div>
</body>
