<div class="page">
  <div class="container">
    <div class="title-container1">
      <h1 *ngIf="currentStep === 1">Personal Details</h1>
      <h1 *ngIf="currentStep === 2">Personal Details</h1>
      <h1 *ngIf="currentStep === 3">Set Password</h1>
    </div>
    <div class="container-bottom">
      <div class="photo-container">
        <img [src]="currentImage" alt="Imagine">
      </div>
      <div class="form-container">
        <div class="title-container2">
          <h1 *ngIf="currentStep === 1">Personal Details</h1>
          <h1 *ngIf="currentStep === 2">Personal Details</h1>
          <h1 *ngIf="currentStep === 3">Set Password</h1>
        </div>
        <div class="form-group-container">
          <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
            <!-- Pasul 1: First Name, Last Name, Email, Phone Number -->
            <div *ngIf="currentStep === 1">
              <div class="form-row">
                <div class="form-group">
                  <input id="firstName" formControlName="firstName" placeholder="First Name" [ngClass]="{'error-border': (patientForm.get('firstName')?.touched || nextClicked) && patientForm.get('firstName')?.invalid, 'small-input': true}" />
                  <div class="error" *ngIf="(patientForm.get('firstName')?.touched || nextClicked) && patientForm.get('firstName')?.hasError('required')">
                    First Name is required
                  </div>
                  <div class="error" *ngIf="(patientForm.get('firstName')?.touched || nextClicked) && patientForm.get('firstName')?.hasError('maxlength')">
                    First Name cannot be longer than 50 characters
                  </div>
                </div>
                <div class="form-group">
                  <input id="lastName" formControlName="lastName" placeholder="Last Name" [ngClass]="{'error-border': (patientForm.get('lastName')?.touched || nextClicked) && patientForm.get('lastName')?.invalid, 'small-input': true}" />
                  <div class="error" *ngIf="(patientForm.get('lastName')?.touched || nextClicked) && patientForm.get('lastName')?.hasError('required')">
                    Last Name is required
                  </div>
                  <div class="error" *ngIf="(patientForm.get('lastName')?.touched || nextClicked) && patientForm.get('lastName')?.hasError('maxlength')">
                    Last Name cannot be longer than 50 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input id="email" formControlName="email" placeholder="Email" (blur)="checkEmail()" [ngClass]="{'error-border': (patientForm.get('email')?.touched || nextClicked) && patientForm.get('email')?.invalid}" />
                <div class="error" *ngIf="(patientForm.get('email')?.touched || nextClicked) && patientForm.get('email')?.hasError('required')">
                  Email is required
                </div>
                <div class="error" *ngIf="(patientForm.get('email')?.touched || nextClicked) && patientForm.get('email')?.hasError('email')">
                  Invalid email format
                </div>
                <div class="error" *ngIf="(patientForm.get('email')?.touched || nextClicked) && patientForm.get('email')?.hasError('emailExists')">
                  Email already exists
                </div>
              </div>
              <div class="form-group">
                <input id="phoneNumber" formControlName="phoneNumber" placeholder="Phone Number" [ngClass]="{'error-border': (patientForm.get('phoneNumber')?.touched || nextClicked) && patientForm.get('phoneNumber')?.invalid}" />
                <div class="error" *ngIf="(patientForm.get('phoneNumber')?.touched || nextClicked) && patientForm.get('phoneNumber')?.hasError('required')">
                  Phone Number is required
                </div>
                <div class="error" *ngIf="(patientForm.get('phoneNumber')?.touched || nextClicked) && patientForm.get('phoneNumber')?.hasError('pattern')">
                  Invalid phone number format
                </div>
              </div>
              <div class="button-container">
                <button type="button" class="button-next" (click)="nextStep()">Next</button>
              </div>
            </div>
  
            <!-- Pasul 2: Birth Date, Gender, Address -->
            <div *ngIf="currentStep === 2">
              <div class="form-group">
                <label for="birthDate">Birth Date</label>
                <input id="birthDate" formControlName="birthDate" type="date" [ngClass]="{'error-border': (patientForm.get('birthDate')?.touched || nextClicked) && patientForm.get('birthDate')?.invalid}" />
                <div class="error" *ngIf="(patientForm.get('birthDate')?.touched || nextClicked) && patientForm.get('birthDate')?.hasError('required')">
                  Birth Date is required
                </div>
              </div>
              <div class="form-group">
                <label for="gender"></label>
                <select id="gender" formControlName="gender" [ngClass]="{'error-border': (patientForm.get('gender')?.touched || nextClicked) && patientForm.get('gender')?.invalid}">
                  <option value="">Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                <div class="error" *ngIf="(patientForm.get('gender')?.touched || nextClicked) && patientForm.get('gender')?.hasError('required')">
                  Gender is required
                </div>
              </div>
              <div class="form-group">
                <label for="address"></label>
                <input id="address" formControlName="address" placeholder="Address" [ngClass]="{'error-border': (patientForm.get('address')?.touched || nextClicked) && patientForm.get('address')?.invalid}" />
                <div class="error" *ngIf="(patientForm.get('address')?.touched || nextClicked) && patientForm.get('address')?.hasError('required')">
                  Address is required
                </div>
              </div>
              <div class="button-container">
                <button type="button" class="button-previous" (click)="previousStep()">Previous</button>
                <button type="button" class="button-next" (click)="nextStep()">Next</button>
              </div>
            </div>
  
            <!-- Pasul 3: Password -->
            <div *ngIf="currentStep === 3">
              <div class="form-group">
                <label for="password"></label>
                <input id="password" type="password" formControlName="password" placeholder="Password" [ngClass]="{'error-border': (patientForm.get('password')?.touched || nextClicked) && patientForm.get('password')?.invalid}" />
                <div class="error" *ngIf="(patientForm.get('password')?.touched || nextClicked) && patientForm.get('password')?.hasError('required')">
                  Password is required
                </div>
                <div class="error" *ngIf="(patientForm.get('password')?.touched || nextClicked) && getPasswordErrors().length > 0">
                  Password must include: {{ getPasswordErrors().join(', ') }}
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword"></label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm Password" [ngClass]="{'error-border': (patientForm.get('confirmPassword')?.touched || nextClicked) && patientForm.get('confirmPassword')?.invalid}" />
                <div class="error" *ngIf="(patientForm.get('confirmPassword')?.touched || nextClicked) && patientForm.get('confirmPassword')?.hasError('required')">
                  Confirm Password is required
                </div>
                <div class="error" *ngIf="(patientForm.get('confirmPassword')?.touched || nextClicked) && patientForm.get('confirmPassword')?.hasError('passwordMismatch')">
                  Passwords do not match
                </div>
              </div>
              <div class="button-container">
                <button type="button" class="button-previous" (click)="previousStep()">Previous</button>
                <button type="submit" class="button-next" [disabled]="patientForm.invalid">Create Account</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>