<div class="patient-detail">
  <div class="patient-detail-inner">
    <h1>Patient Details</h1>
  
    <div *ngIf="patient">
      <div class="patient-info">
        <p><strong>First Name:</strong> {{ patient.firstName }}</p>
        <p><strong>Last Name:</strong> {{ patient.lastName }}</p>
        <p><strong>Birth Date:</strong> {{ patient.birthDate }}</p>
        <p><strong>Gender:</strong> {{ patient.gender }}</p>
        <p><strong>Email:</strong> {{ patient.email }}</p>
        <p><strong>Phone Number:</strong> {{ patient.phoneNumber }}</p>
        <p><strong>Address:</strong> {{ patient.address }}</p>
      </div>
  
      <div class="actions">
        <!-- Butonul de Delete pacient -->
        <button class="delete-button" (click)="deletePatient()">Delete Patient</button>
        
        <!-- Butonul de Update pacient -->
        <button class="update-button" (click)="navigateToUpdatePatient(patient.id)">Update Patient</button>
      </div>
    </div>
  
    <div *ngIf="!patient" class="loading">
      <p>Loading patient details...</p>
    </div>
  </div>
</div>
