<body>
  <app-navbar></app-navbar>

  <div class="patient-detail">
    <div class="patient-detail-inner">
      <h1>Patient Details</h1>

      <div *ngIf="patient">
        <div class="patient-info">
          <p><strong>First Name:</strong> {{ patient.firstName }}</p>
          <p><strong>Last Name:</strong> {{ patient.lastName }}</p>
          <p><strong>Birth Date:</strong> {{ patient.birthDate }}</p>
          <p><strong>Gender:</strong> {{ patient.gender }}</p>
          <p><strong>Email:</strong> {{ patient.email }}</p>
          <p><strong>Phone Number:</strong> {{ patient.phoneNumber }}</p>
          <p><strong>Address:</strong> {{ patient.address }}</p>
        </div>

        <!-- Secțiunea consultațiilor -->
        <div *ngIf="appointments.length > 0">
          <h1>Appointments</h1>
          <div class="appointment-list">
            <div *ngFor="let appointment of appointments" class="appointment-item">
              <h4>Date: {{ appointment.date | date:'dd/MM/yyyy HH:mm' }}</h4>
              <div class="appointment-details">
                <p><strong>Location:</strong> {{ medicDetails.get(appointment.medicId)?.hospital }}</p>
                <p><strong>Status:</strong> <span class="appointment-status">{{ getStatusString(appointment.status) }}</span></p>
              </div>

              <!-- Detalii despre medic -->
              <p *ngIf="medicDetails.has(appointment.medicId)" class="appointment-details">
                Medic: {{ medicDetails.get(appointment.medicId)?.firstName }} {{ medicDetails.get(appointment.medicId)?.lastName }}
              </p>
              <button class="update-consultation-button" (click)="navigateToUpdateConsultation(getAppointmentsId(appointment))">
                Update Consultation
              </button>
            </div>
          </div>
        </div>

        <!-- Mesaj dacă nu sunt programări -->
        <div *ngIf="appointments.length === 0">
          <p>No appointments found for this patient.</p>
        </div>
      </div>

      <!-- Loading screen dacă pacientul nu este disponibil -->
      <div *ngIf="!patient" class="loading">
        <p>Loading patient details...</p>
      </div>
      <div *ngIf="patient">
        <div class="actions">
          <button class="delete-button" (click)="deletePatient()">Delete Patient</button>
          <button class="update-button" (click)="navigateToUpdatePatient(patient.id)">Update Patient</button>
          <button class="logout-button" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
    
  </div>

</body>
