<body>
  <app-navbar></app-navbar>

  <div class="patient-detail">
    <h1>Account Details</h1>
    <div class="patient-detail-container">
      <div class="patient-detail-sidebar">
        <ul class="patient-detail-nav">
          <li [class.active]="activeSection === 'profile'" (click)="setActiveSection('profile')">My Profile Details</li>
          <li [class.active]="activeSection === 'delete'" (click)="setActiveSection('delete')">Delete Account</li>
          <li [class.active]="activeSection === 'treatments'" (click)="setActiveSection('treatments')">My Treatments</li>
          <li [class.active]="activeSection === 'condition'" (click)="setActiveSection('condition')">My Medical Condition</li>
        </ul>
      </div>
      <div class="patient-detail-content">
        <div *ngIf="activeSection === 'profile' && !editMode">
          <h2 class="profile-details-title">Profile Details</h2>
          <div *ngIf="patient">
            <div class="patient-info">
              <div class="personal-details">
                <h3>Personal Details <i class="fas fa-edit edit-icon" (click)="editPersonalDetails()"></i></h3>
                <div class="personal-details-row">
                  <p><strong>First Name:</strong> {{ patient.firstName }}</p>
                  <p><strong>Last Name:</strong> {{ patient.lastName }}</p>
                </div>
                <div class="personal-details-row">
                  <p><strong>Birth Date:</strong> {{ patient.birthDate | date:'fullDate' }}</p>
                  <p><strong>Gender:</strong> {{ patient.gender }}</p>
                </div>
              </div>
              <div class="contact-details">
                <h3>Contact Details <i class="fas fa-edit edit-icon" (click)="editContactDetails()"></i></h3>
                <div class="contact-details-row">
                  <p><strong>Email:</strong> {{ patient.email }}</p>
                  <p><strong>Phone Number:</strong> {{ patient.phoneNumber }}</p>
                </div>
              </div>
              <div class="address-details">
                <h3>Address <i class="fas fa-edit edit-icon" (click)="editAddressDetails()"></i></h3>
                <p><strong>Address:</strong> {{ patient.address }}</p>
              </div>

              <!-- Detalii despre medic -->
              <p *ngIf="medicDetails.has(appointment.medicId)" class="appointment-details">
                Medic: {{ medicDetails.get(appointment.medicId)?.firstName }} {{ medicDetails.get(appointment.medicId)?.lastName }}
              </p>
              <button class="update-consultation-button" (click)="navigateToUpdateConsultation(getAppointmentsId(appointment))">
                Update Consultation
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="editMode && !passwordRequired">
          <h2>Edit Details</h2>
          <form [formGroup]="patientForm" (ngSubmit)="onSubmit()" class="edit-form">
            <div *ngIf="activeSection === 'editPersonalDetails'">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstName" formControlName="firstName" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input id="lastName" formControlName="lastName" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="birthDate">Birth Date</label>
                <input id="birthDate" formControlName="birthDate" type="date" class="form-control">
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <select id="gender" formControlName="gender" class="form-control">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>

            <div *ngIf="activeSection === 'editContactDetails'">
              <div class="form-group">
                <label for="email">Email</label>
                <input id="email" formControlName="email" type="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input id="phoneNumber" formControlName="phoneNumber" type="text" class="form-control">
              </div>
            </div>

            <div *ngIf="activeSection === 'editAddressDetails'">
              <div class="form-group">
                <label for="address">Address</label>
                <input id="address" formControlName="address" type="text" class="form-control">
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
          </form>
        </div>

        <div *ngIf="passwordRequired">
          <h2>Enter Password</h2>
          <form [formGroup]="passwordForm" (ngSubmit)="onUpdate()" class="edit-form">
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" formControlName="password" type="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
          </form>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <div *ngIf="activeSection === 'delete'">
          <h2>Delete Account</h2>
          <button class="delete-button" (click)="deletePatient()">Delete Patient</button>
        </div>

        <div *ngIf="activeSection === 'treatments'">
          <h2>My Treatments</h2>
          <!-- Aici poți adăuga detalii despre tratamente -->
        </div>

        <div *ngIf="activeSection === 'condition'">
          <h2>My Medical Condition</h2>
          <!-- Aici poți adăuga detalii despre condiția medicală -->
        </div>
      </div>
    </div>
  </div>
</body>