/* Stilizarea detaliilor pacientului */
.patient-detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    background-color: #7883a1;
    box-sizing: border-box;
}

/* Interiorul secțiunii detaliilor pacientului */
.patient-detail-inner {
    width: 100%;
    max-width: 600px;
    background-color: #333953;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: left;
    overflow: hidden;
}

/* Titlu detaliilor pacientului */
.patient-detail h1 {
    color: #f2f2f2;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Informațiile pacientului */
.patient-info {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.6;
    color: #f2f2f2;

}

.patient-info p {
    margin: 10px 0;
}

.patient-info strong {
    color: #506ba2;
}

/* Zona pentru butoane (acțiuni) */
.actions {
    display: flex;
    justify-content: center; /* Aliniază butoanele pe orizontală */
    gap: 20px; /* Adaugă spațiu între butoane */
    margin-top: 20px;
}

/* Butonul de ștergere */
.delete-button, .update-button {
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Butonul de ștergere */
.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
}

.delete-button:hover {
    background-color: #c82333;
}

.delete-button:active {
    background-color: #bd2130;
}

/* Butonul de actualizare */
.update-button {
    background-color: #506ba2;
    color: white;
    border: none;
}

.update-button:hover {
    background-color: #0056b3;
}

.update-button:active {
    background-color: #00408b;
}

/* Mesaj de încărcare */
.loading {
    text-align: center;
    font-size: 1rem;
    color: #555;
    margin-top: 20px;
}

/* Media Queries pentru dispozitive mobile */
@media (max-width: 600px) {
    .patient-detail-inner {
        padding: 20px;
    }

    .delete-button, .update-button {
        width: 100%;
        padding: 14px;
        font-size: 1rem;
    }

    .patient-info {
        font-size: 1.1rem;
    }
}
