<app-navbar></app-navbar>
<div class="page">
  <div class="container">
    <div class="title-container1">
      <h1 *ngIf="currentStep === 1">Appointment Date</h1>
      <h1 *ngIf="currentStep === 2">Confirm Appointment</h1>
    </div>

    <div class="container-bottom">
      <div class="photo-container">
        <img [src]="currentImage" alt="Image" />
      </div>

      <div class="form-container">
        <div class="title-container2">
          <h1 *ngIf="currentStep === 1">Appointment Date</h1>
          <h1 *ngIf="currentStep === 2">Confirm Appointment</h1>
        </div>
        <form [formGroup]="consultationForm" (ngSubmit)="onSubmit()">
          
         
          <div *ngIf="currentStep === 1">
            <div class="form-group">
              <label for="appointmentDate">Select Date</label>
              <input id="appointmentDate" formControlName="appointmentDate" type="date" placeholder="Appointment Date" 
                     [ngClass]="{'error-border': (consultationForm.get('appointmentDate')?.touched || nextClicked) && consultationForm.get('appointmentDate')?.invalid}" />
              <div class="error" *ngIf="(consultationForm.get('appointmentDate')?.touched || nextClicked) && consultationForm.get('appointmentDate')?.hasError('required')">
                Appointment Date is required
              </div>
            </div>
          
            <!-- Medic Selection -->
            <div class="form-group">
              <label for="medicId">Select Medic</label>
              <select id="medicId" formControlName="medic"
                      [ngClass]="{'error-border': (consultationForm.get('medic')?.touched || nextClicked) && consultationForm.get('medic')?.invalid}">
                <option value="">Choose a Medic</option>
                <option *ngFor="let medic of medics" [ngValue]="medic">
                  {{ medic.firstName }} {{ medic.lastName }} 
                </option>
              </select>
              <div class="error" *ngIf="(consultationForm.get('medic')?.touched || nextClicked) && consultationForm.get('medic')?.hasError('required')">
                Please select a medic.
              </div>
            </div>
            
          
            <!-- Navigation Buttons -->
            <div class="button-container">
              <button type="button" class="button-previous" (click)="previousStep()">Previous</button>
              <button type="button" class="button-next" (click)="nextStep()">Next</button>
            </div>
          </div>
          
          <!-- Step 4: Confirm Appointment -->
          <div *ngIf="currentStep === 2">
            <div class="form-group">
              <p>First Name: {{ consultationForm.get('firstName')?.value }}</p>
              <p>Last Name: {{ consultationForm.get('lastName')?.value }}</p>
              <p>Email: {{ consultationForm.get('email')?.value }}</p>
              <p>Phone Number: {{ consultationForm.get('phoneNumber')?.value }}</p>
              <p>Appointment Date: {{ consultationForm.get('appointmentDate')?.value }}</p>
              <p>Medic: {{ consultationForm.get('medic')?.value?.firstName }} {{ consultationForm.get('medic')?.value?.lastName }}</p>
              <p>Location: {{consultationForm.get('medic')?.value?.hospital}}</p>
            </div>
          
            <div class="button-container">
              <button type="button" class="button-previous" (click)="previousStep()">Previous</button>
              <button type="submit" class="button-next">Confirm Appointment</button>
            </div>
          </div>         
          
        </form>
      </div>
    </div>

  </div>
</div>
